<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../css/work.css">
    <title>Work</title>
</head>

<body>
  
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">Navbar</a>
    </nav>
	<hr>
    <h1 class="work-header">LEIGH WEINGUS</h1>
    <hr>
 
    <div class="social-nav-container">
        <ul class="social-nav-list">
            <li><a class="hvr-grow" target="_blank" href="https://www.facebook.com/leighweingus/"><img class="social-logo-box facebook" src="../images/facebook_logo.png"></a></li>
            <li><a class="hvr-grow" target="_blank" href="https://www.instagram.com/leighweingus/"><img class="social-logo-box insta" src="../images/instagram_logo.png"></a></li>
            <li><a class="hvr-grow" target="_blank" href="https://www.pinterest.com/leighweingus/"><img class="social-logo-box pinterest" src="../images/pinterest_logo.png"></a></li>
            <li><a class="hvr-grow" target="_blank" href="https://twitter.com/leighweingus"><img class="social-logo-box twitter" src="../images/twitter_logo.png"></a></li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
                <p>
                    <button class="btn btn-primary fitness" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">FITNESS</button>
                </p>
                <div class="collapse" id="collapseExample1">
                    <div class="card card-body">
                        <ul class="fitness-list">
                            <li><a target="_blank" href="https://www.mindbodygreen.com/articles/why-the-future-of-fitness-looks-inclusive">Why The Future Of Fitness Is All About Inclusivity</a></li>
                            <hr>
                            <li><a target="_blank" href="https://www.mindbodygreen.com/articles/how-millennials-have-become-the-fittest-generation-ever">How Millennials' Love Of Community Has Made Them The Fittest Generation Ever</a></li>
                            <hr>
                            <li><a target="_blank" href="https://www.mindbodygreen.com/articles/how-to-exercise-to-reduce-inflammation-and-avoid-creating-more">How To Exercise To Reduce Inflammation (And Avoid Creating More)</a></li>
                            <hr>
                            <li><a target="_blank" href="https://www.mindbodygreen.com/articles/science-says-sitting-can-kill-you-heres-what-to-do-about-it">Science Says Sitting Can Kill You, Even If You Exercise Daily. Here's What To Do</a></li>
                            <hr>
                            <li><a target="_blank" href="https://www.mindbodygreen.com/articles/why-we-need-to-talk-about-mental-illness-among-college-athletes">Meet The Woman Getting To The Bottom Of Mental Illness In College Athletes</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
                <p>
                    <button class="btn btn-secondary yoga" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">YOGA</button>
                </p>
                <div class="collapse" id="collapseExample2">
                    <div class="card card-body">
                        <ul class="yoga-list">
                            <li><a target="_blank" href="https://www.mindbodygreen.com/articles/how-yoga-changes-your-dna">Yes, Yoga Alters Your DNA. Here's Why That's Important</a></li>
                            <hr>
                            <li><a target="_blank" href="https://www.mindbodygreen.com/articles/how-yoga-has-helped-this-triathlete-succeed">Is Yoga The Key To Acing An Ironman? This Triathlete Thinks So</a></li>
                            <hr>
                            <li><a target="_blank" href="https://www.mindbodygreen.com/articles/what-is-the-feldenkrais-method-and-how-can-it-help-with-chronic-pain">What Is The Feldenkrais Method And How Can It Help With Chronic Pain?</a></li>
                            <hr>
                            <li><a target="_blank" href="https://www.mindbodygreen.com/articles/anxiety-busting-yoga-flow">This One Yoga Pose Will Work Wonders For Your Anxiety</a></li>
                            <hr>
                            <li><a target="_blank" href="https://www.mindbodygreen.com/articles/why-football-players-do-yoga">A Football Camp In A Tiny Texas Town Now Offers Yoga. Heres Why Every Single Player Is Doing It</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
                <p>
                    <button class="btn btn-success financial-wellness" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">FINANCIAL WELLNESS</button>
                </p>
                <div class="collapse" id="collapseExample3">
                    <div class="card card-body">
                        <ul class="financial-list">
                            <li><a target="_blank" href="https://blog.claritymoney.com/blog/2017/9/28/women-investing">7 Women Get Real About Where They're Investing Their Hard-Earned Cash</a></li>
                            <hr>
                            <li><a target="_blank" href="https://www.mindbodygreen.com/articles/exactly-how-to-stop-money-from-impacting-your-anxiety">Exactly How Money Affects Your Anxiety—And What To Do About It</a></li>
                            <hr>
                            <li><a target="_blank" href="https://www.mindbodygreen.com/articles/can-money-buy-you-happiness">Can Money Buy You Happiness? Maybe</a></li>
                            <hr>
                            <li><a target="_blank" href="https://blog.claritymoney.com/blog/2017/9/6/what-happened-when-i-tried-twice-weekly-zero-dollar-days-for-one-month">I Tried "Zero Dollar Days." Here's What I Learned (And Saved)</a></li>
                            <hr>
                            <li><a target="_blank" href="https://blog.claritymoney.com/blog/side-hustle-make-money-gig-economy">7 Unexpected Side Hustles To Help You Earn An Extra $1,000 This Month</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
                <p>
                    <button class="btn btn-danger love" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">LET'S TALK ABOUT LOVE</button>
                </p>
                <div class="collapse" id="collapseExample4">
                    <div class="card card-body">
                        <ul class="love-list">
                            <li><a target="_blank" href="https://www.mindbodygreen.com/articles/bethany-c-meyers-on-coping-with-jealousy-in-an-open-relationship">My Open Relationship Fulfills Me. Here's How I Cope With Jealousy</a></li>
                            <hr>
                            <li><a target="_blank" href="https://www.mindbodygreen.com/articles/what-is-pan-sexuality">What Is Pansexuality?</a></li>
                            <hr>
                            <li><a target="_blank" href="https://www.mindbodygreen.com/articles/why-being-in-a-relationship-doesnt-actually-mean-youll-be-happier">Why Being In A Relationship Doesn't Actually Mean You'll Be Happier</a></li>
                            <hr>
                            <li><a target="_blank" href="https://www.mindbodygreen.com/articles/is-couples-therapy-the-new-wellness-essential">Is Couples Therapy The New Wellness Essential?</a></li>
                            <hr>
                            <li><a target="_blank" href="https://www.mindbodygreen.com/articles/in-a-world-where-were-having-sex-later-than-ever-is-it-time-to-rethink-virginity">We're Having Sex Later Than Ever. So Is It Time To Rethink Virginity?</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
                <p>
                    <button class="btn btn-warning happiness" type="button" data-toggle="collapse" data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">HAPPINESS</button>
                </p>
                <div class="collapse" id="collapseExample5">
                    <div class="card card-body">
                        <ul class="happiness-list">
                            <li><a target="_blank" href="https://www.mindbodygreen.com/articles/does-gut-health-actually-impact-your-happiness">Does Your Gut Health Actually Affect Your Happiness?</a></li>
                            <hr>
                            <li><a target="_blank" href="https://www.mindbodygreen.com/articles/why-running-isnt-your-meditation">An Anxiety Tip From The Guy Who Had A Panic Attack On Live TV</a></li>
                            <hr>
                            <li><a target="_blank" href="https://www.mindbodygreen.com/articles/this-is-the-difference-between-envy-and-jealousy">The Difference Between Envy & Jealousy—And Exactly What To Do About Each</a></li>
                            <hr>
                            <li><a target="_blank" href="https://www.mindbodygreen.com/articles/how-to-actually-find-your-purpose-according-to-a-happiness-expert">Exactly How To Find Your Purpose, According To A Happiness Expert</a></li>
                            <hr>
                            <li><a target="_blank" href="https://www.mindbodygreen.com/articles/are-millennials-too-obsessed-with-self-help">Are Millennials Too Obsessed With Self-Help?</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
                <p>
                    <button class="btn btn-info science" type="button" data-toggle="collapse" data-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExample">IT'S SCIENCE</button>
                </p>
                <div class="collapse" id="collapseExample6">
                    <div class="card card-body">
                        <ul class="science-list">
                            <li><a target="_blank" href="https://www.mindbodygreen.com/articles/what-journaling-actually-does-to-your-brain-according-to-science">What Journaling Actually Does To Your Brain, According To Science</a></li>
                            <hr>
                            <li><a target="_blank" href="https://www.mindbodygreen.com/articles/science-proves-yoga-has-an-incredible-impact-on-reslience">Science Proves Yoga Has An Incredible Impact On Resilience</a></li>
                            <hr>
                            <li><a target="_blank" href="https://www.mindbodygreen.com/articles/how-tinder-makes-us-revert-to-ancient-mating-habits">How Dating Apps Reinforce Ancient Mating Patterns, According To Science</a></li>
                            <hr>
                            <li><a target="_blank" href="https://www.mindbodygreen.com/articles/research-shows-being-with-your-partner-for-a-long-time-leads-to-similar-tastebuds">New Study Indicates That being With Your Partner For A Long Time Results In One Crazy Similarity</a></li>
                            <hr>
                            <li><a target="_blank" href="https://www.mindbodygreen.com/articles/millennials-are-altruistic-and-smart-about-how-they-give-back">Millennials Aren't Just Altruistic—They're Super-Smart About How They Give Back</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 seventh-collapse">
                <p>
                    <button class="btn btn-dark gif" type="button" data-toggle="collapse" data-target="#collapseExample7" aria-expanded="false" aria-controls="collapseExample">I'M A YOGA GIF</button>
                </p>
                <div class="collapse" id="collapseExample7">
                    <div class="card card-body">
                        <ul class="gif-list">
                            <li><a target="_blank" href="https://www.huffingtonpost.com/2015/03/24/yoga-poses-every-day_n_6842096.html">7 Simple Yoga Poses You Should Do Every Day</a></li>
                            <hr>
                            <li><a target="_blank" href="https://www.huffingtonpost.com/2015/05/14/yoga-poses-friend_n_7207356.html">Want To Get More Out Of Your Yoga Practice? Grab A Friend</a></li>
                            <hr>
                            <li><a target="_blank" href="https://www.huffingtonpost.com/2015/06/19/yoga-back-pain_n_7621940.html">Yoga To Help With Back Pain</a></li>
                            <hr>
                            <li><a target="_blank" href="https://www.huffingtonpost.com/2015/06/04/barre-moves-class_n_7486474.html">7 Moves To Try Before Your First Barre Class</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 seventh-collapse">
                <p>
                    <button class="btn btn-light feminism" type="button" data-toggle="collapse" data-target="#collapseExample8" aria-expanded="false" aria-controls="collapseExample">FEMINISM</button>
                </p>
                <div class="collapse" id="collapseExample8">
                    <div class="card card-body">
                        <ul class="feminism-list">
                            <li><a target="_blank" href="https://www.mindbodygreen.com/articles/time-chose-a-group-of-fearless-women-as-their-person-of-the-year">Why TIME Chose A Group Of Fearless Women As Person Of The Year</a></li>
                            <hr>
                            <li><a target="_blank" href="https://www.mindbodygreen.com/articles/why-i-paid-for-half-of-my-engagement-ring">Why I Paid For Half My Engagement Ring</a></li>
                            <hr>
                            <li><a target="_blank" href="https://www.mindbodygreen.com/articles/outdoor-voices-founder-tyler-haney-on-coping-with-sexism-and-more">How Outdoor Voices Founder Tyler Haney Copes With Sexism In A Male-Dominated Industry</a></li>
                            <hr>
                            <li><a target="_blank" href="https://www.mindbodygreen.com/articles/the-consequences-of-taking-your-partners-last-name">Taking Your Partner's Last Name? You Need To Read This First</a></li>
                            <hr>
                            <li><a target="_blank" href="https://www.mindbodygreen.com/articles/5-wellness-leaders-on-empowerment-and-finding-your-inner-strength">How To Take Back Your Power In A World Where Women Are Encouraged To Shut Up</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 seventh-collapse">
                <p>
                    <button class="btn btn-primary entertainment" type="button" data-toggle="collapse" data-target="#collapseExample9" aria-expanded="false" aria-controls="collapseExample">ENTERTAINMENT</button>
                </p>
                <div class="collapse" id="collapseExample9">
                    <div class="card card-body">
                        <ul class="entertainment-list">
                            <li><a target="_blank" href="https://www.mindbodygreen.com/articles/6-wellness-rules-meghan-markle-swears-by">6 Wellness Rules Meghan Markle Swears By</a></li>
                            <hr>
                            <li><a target="_blank" href="https://www.mindbodygreen.com/articles/the-workout-that-helps-this-actress-help-with-depression">The Workout That Helps This Actress Cope With Depression</a></li>
                            <hr>
                            <li><a target="_blank" href="https://www.huffingtonpost.com/2013/04/04/vincent-kartheiser-pete-campbell_n_3014403.html">Vincent Kartheiser Versus Pete Campbell: Who's The Bigger Asshole?</a></li>
                            <hr>
                            <li><a target="_blank" href="https://www.huffingtonpost.com/leigh-weingus/hot-yoga-98-degrees_b_7902846.html">I Did Hot Yoga With 98 Degrees AndIt Crushed My Teenage Dreams</a></li>
                            <hr>
                            <li><a target="_blank" href="https://www.huffingtonpost.com/leigh-weingus/girls-season-3-episode-7-recap_b_4800342.html">"Girls" Delivers Bikinis, Narcissism, And Its Best Episode Yet</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer"></footer>
</body>

</html>