body {
	background-image: linear-gradient(to bottom, rgba(225,225,225,0.6) 0%,rgba(225,225,225,0) 100%),url("https://st.depositphotos.com/1332421/3064/i/950/depositphotos_30645643-stock-photo-gray-textured-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.stupid {
	width: 250px;
	height: 250px;
}

.card-body {
	width: 250px;
}

.fitness {
	width: 250px;
	height: 250px;
	background-image: url("../images/fitness_background.jpg");
	background: cover;
	font-size: 30px;
}

.fitness-list {
	position: relative;
	list-style-type: none;
	font-size: 16px;
	text-align: left;
	left: -20px;
}

.yoga {
	width: 250px;
	height: 250px;
	background-image: url("../images/yoga_background.jpg");
	background: cover;
	font-size: 30px;
}

.yoga-list {
	position: relative;
	list-style-type: none;
	font-size: 16px;
	text-align: left;
	left: -20px;
}

.financial-wellness {
	width: 250px;
	height: 250px;
	background-image: url("../images/financial_wellness_background.jpg");
	background: cover;
	font-size: 22px;
	font-weight: 600;
}

.financial-list {
	position: relative;
	list-style-type: none;
	font-size: 16px;
	text-align: left;
	left: -20px;
}

.love {
	width: 250px;
	height: 250px;
	background-image: url("../images/love_background.jpg");
	background: cover;
	font-size: 20px;
	font-weight: 600;
}

.love-list {
	position: relative;
	list-style-type: none;
	font-size: 16px;
	text-align: left;
	left: -20px;
}

.happiness {
	width: 250px;
	height: 250px;
	color: white;
	background-image: url("../images/happiness_background.jpg");
	background: cover;
	font-size: 30px;
	font-weight: 600;
}

.happiness-list {
	position: relative;
	list-style-type: none;
	font-size: 16px;
	text-align: left;
	left: -20px;
}

.happiness:hover {
	color: white;
}

.happiness:click {
	color: white;
}

.science {
	width: 250px;
	height: 250px;
	color: white;
	background-image: url("../images/science_background.jpg");
	background: cover;
	font-size: 30px;
	font-weight: 600;
}

.science-list {
	position: relative;
	list-style-type: none;
	font-size: 16px;
	text-align: left;
	left: -20px;
}

.gif {
	width: 250px;
	height: 250px;
	color: white;
	background-image: url("../images/gif_background.jpg");
	background: cover;
	font-size: 30px;
	font-weight: 600;
}

.gif-list {
	position: relative;
	list-style-type: none;
	font-size: 16px;
	text-align: left;
	left: -20px;
}

.feminism {
	width: 250px;
	height: 250px;
	color: white;
	background-image: url("../images/feminism_background.jpg");
	background: cover;
	font-size: 30px;
	font-weight: 600;
}

.feminism-list {
	position: relative;
	list-style-type: none;
	font-size: 16px;
	text-align: left;
	left: -20px;
}

.feminism:hover {
	color: white;
}

.feminism:click {
	color: white;
}

.entertainment {
	width: 250px;
	height: 250px;
	color: white;
	background-image: url("../images/entertainment_background.jpg");
	background: cover;
	font-size: 26px;
	font-weight: 600;
}

.entertainment-list {
	position: relative;
	list-style-type: none;
	font-size: 16px;
	text-align: left;
	left: -20px;
}

.entertainment:hover {
	color: white;
}

.entertainment:click {
	color: white;
}



























.work-header {
	text-align: center;
}

.footer {
	width: 100%;
	height: 150px;
	background-color: mistyrose;
	border: .5px solid black;
}

.social-nav-container {
	display: flex;
	flex-direction: column;
}

.social-nav-list {
	position: fixed;
	list-style-type: none;
	left: -40px;
	top: 170px;
	background-color: mistyrose;
}

.social-logo-box {
	width: 45px;
	height: 45px;
}

.twitter {
	border-top: .5px solid black;
	border-bottom: .5px solid black;
}

.pinterest {
	border-top: .5px solid black;
}

.insta {
	border-top: .5px solid black;
}

.facebook {
	border-top: .5px solid black;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}